.dashboard__container {
  display: flex;
  flex-direction: column;
}

.dashboard__sectionBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  border: 2px solid purple;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #ebeeee;
}

.dashboard__title {
  text-align: center;
  margin: 0;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  background-color: purple;
}

.dashboard__sectionBox__listTitle {
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  background-color: purple;
  width: 350px;
}

.dashboard__sectionBox__listTitle:hover {
  cursor: pointer;
  transition: 0.5s ease-in-out;
  color: gray;
}

.dashboard__sectionBox__list {
  list-style: none;
}

.dashboard__sectionBox__div {
  display: flex;
  gap: 10px;
}

.dashboard__sectionBox__listItem {
  border-radius: 15px;
  border: 2px solid black;
  padding: 15px;
  width: 300px;
  background-color: #f8fbfb;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 18px;
  color: purple;
  font-weight: bold;
}
.dashboard__sectionBox__listItem__bodega {
  border-radius: 15px;
  border: 2px solid black;
  padding: 15px;
  width: 150px;
  background-color: #f8fbfb;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 18px;
  color: purple;
  font-weight: bold;
}

.dashboard__sectionBox__listItem:hover,
.dashboard__sectionBox__listItem__bodega:hover {
  font-size: 20px;
  background-color: rgb(176, 174, 176);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 300px;
  background-color: rgba(128, 128, 128, 0.403);
  color: #fff;
  margin: 100px auto 0;
}

.footer:hover {
  cursor: pointer;
  transition: 0.5s ease-in-out;
  background-color: rgba(128, 0, 128, 0.688);
}
